/*AULA IV - 15/08/2024*/



div {
    font-weight: bold;
    font-size: medium;
}

header {
    text-align: center;
}

#cadastro {
    font-weight: bolder;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
}

legend {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
}

 fieldset {
    background-color:lightgray; 
 }

form {
    line-height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: black;
    font-size:large;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
