body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    font-size: 1.2rem;
    margin: 10px 0;
}

#contador {
    font-weight: bold;
    color: #d9534f;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }
}
